<ion-header>
    <ion-toolbar class="ion" color="primary">
      <ion-buttons class="ion-buttons" slot="start">
        <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Fewnu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <form>
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
  
                <div padding>
                    <div text-center>
                        <h3 color="primary">Ajouter un stock</h3>
                      </div>
  
                  <ion-item>
                    <ion-label position="floating">Designation</ion-label>
                    <ion-input name="designation" type="text" ngModel></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Prix Unitaire</ion-label>
                    <ion-input name="prix" type="number" ngModel></ion-input>
                  </ion-item>  
                  <ion-item>
                    <ion-label position="floating">Quantite</ion-label>
                    <ion-input name="quantite" type="number" ngModel></ion-input>
                 </ion-item>           
                </div>
                <div padding>
                  <ion-button class="ion-button"   type="submit"s>VALIDER</ion-button>
                </div>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
  </ion-content>
  