<ion-header>
  <ion-toolbar class="ion" color="primary">
      <ion-buttons class="ion-buttons" slot="start">
        <ion-back-button  defaultHref="./depense"></ion-back-button>
      </ion-buttons>
    <ion-title>Fewnu</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="background">
    <br><br><br>
  
      <form #depense="ngForm" (ngSubmit)="onAjout(depense)">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
  
              <div padding>
                  <div text-center>
                      <h3>Ajouter une Depense</h3>
                    </div><br>
  
                <ion-item color="none"> 
                    <ion-label position="floating"></ion-label>
                  <ion-input name="Designation" type="text" [(ngModel)]="depense.Designation" placeholder="Designation"></ion-input>
                </ion-item>
                <br>
                <ion-item color="none">
                    <ion-label position="floating"></ion-label>
                  <ion-input name="price" type="number" [(ngModel)]="depense.price"placeholder="Prix" ></ion-input>
                </ion-item>           
              </div><br>
              <div padding>
                <ion-button class="ion-button" color="primary" type="submit">Ajouter</ion-button>
              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
  
  
  </ion-content>
  