<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-content>
          
              <ion-text color="dark">
                  <p> 
                    <strong> 
                      Résumé du <br>
                      Total Vente :   FCFA <br>
                      Total Dépense :   FCFA <br>
                      Benefice :   FCFA
                    </strong>
                  </p>
              </ion-text>
          
      </ion-card-content>
    </ion-card>
    
</ion-content>
