#color{
    background: green;
}
.center{
    margin-left: 10%;
    margin-right: 10%;

}
.col{
  padding: 2;
 }



ion-img{
    width: 30px;
    height: 50px;
}


ion-content.background {
   // --background: url('/assets/images/ap5.png') no-repeat 100% 100% ;
    --background: url('/assets/images/ap9.png') no-repeat center fixed;
}


